{% capture captured_page %}
<header class="banner faq">
    {% section 'slideshow-faq' %}
</header>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-whole">
      <div class="rte">

          {% section 'faq-section' %}

      </div>
    </div>
  </div>
</div>

{% endcapture %}
{% include 'password-protect' %}