<div class="product-bullets">
    {% if product.metafields.global.bullet01 != blank %}
    <p>
        {{- product.metafields.global.bullet01 -}}
    </p>
    {% endif %}
    
    {% if product.metafields.global.bullet02 != blank %}
    <p>
        {{- product.metafields.global.bullet02 -}}
    </p>
    {% endif %}
    
    {% if product.metafields.global.bullet03 != blank %}
    <p>
        {{- product.metafields.global.bullet03 -}}
    </p>
    {% endif %}
</div>
    
