<style type="text/css">
  .ingredients-1542409190121 {
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 70px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 70%;
  }
  .ingredients-1542409190121 .ingredients-title {
    color: #000000;
    text-align: left;
    font-size: 24px;
    font-family: "BentonSansBold";
    width: 30%;
    letter-spacing: 5px;
    line-height: 1.25;
    margin-bottom: 60px;
    text-transform: lowercase;
  }
  .ingredients-1542409190121 .ingredients-title .underscore-sign {
    margin-bottom: 15px;
    display: block;
  }
  .ingredients-1542409190121 .single__ingredients .ingredients__image {
    width: 65%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  .ingredients-1542409190121 .single__ingredients .ingredients__text {
    text-align: left;
    font-family: "BentonSansRegular";
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 28px;
    position: relative;
    padding: 0 12px;
  }
  .ingredients-1542409190121 .single__ingredients:last-child .ingredients__text {
    padding-left: 50px;
  }
  .ingredients-1542409190121 .single__ingredients:last-child .ingredients__text::before {
    content: "+";
    font-family: "BentonSansRegular";
    font-size: 30px;
    position: absolute;
    left: -25px;
    top: -170px;
  }
  .ingredients-1542409190121 .single__ingredients .ingredients__text .inverse--color {
    color: #ee4523;
    font-weight: 900;
    font-size: 18px;
  }
  @media all and (max-width: 768px) {
    .medium--one-half {
      width: 100%;
      max-width: 490px;
      float: none;
      margin: 0 auto;
    }
    .ingredients-1542409190121 {
      width: 100% !important;
      padding: 30px 0 !important;
    }
    .ingredients-1542409190121 .ingredients-title{
      font-size: 16px !important;
      width: 220px !important;
      text-align: center !important;
      margin: 0 auto !important;
    }
    .ingredients-1542409190121 .single__ingredients .ingredients__image {
      width: 200px !important;
      margin: 30px auto 0px auto !important;
    }
    .ingredients-1542409190121 .single__ingredients:last-child .ingredients__text,.ingredients__text {
      font-size: 14px !important;
      text-align: center !important;
      margin-top: 25px;
      line-height: 24px !important;
      letter-spacing: 1px !important;
    }
    .ingredients-1542409190121 .single__ingredients:last-child .ingredients__text {
      padding-left: 0 !important;
    }
    .ingredients-1542409190121 .single__ingredients .ingredients__text .inverse--color {
      font-size: 25px !important;
      display: block;
      padding: 15px 0;
    }
  }
</style>
<div data-section-id="{{ section.id }}" data-section-type="ingredients-section">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item text-center">
          <div class="ingredients-1542409190121 ingredients-main">
            <h2 class="ingredients-title"></h2>
            <div class="wrapper">
              <div class="grid">

                  <div class="grid__item large--one-half medium--one-half small--one-whole single__ingredients ingredients--1542409208248">
                    <img src="//cdn.shopify.com/s/files/1/2911/8128/files/oil_large.png?v=1542409258" class="ingredients__image">
                    <div class="ingredients__text"><h3><b>OMEGA-3,6,9</b>.</h3>Our <b>omega oil</b> comes from <b>Ahiflower</b>, a plant-based omega blend that contains GLA, an omega 6 associated with skin health, hormonal balance and reducing inflammation. <a href="/pages/ingredients"><!--<span class="inverse--color">+</span>--></a></div>
                  </div>

                  <div class="grid__item large--one-half medium--one-half small--one-whole single__ingredients ingredients--1542409322431">
                    <img src="//cdn.shopify.com/s/files/1/2911/8128/files/powder_large.png?v=1542409332" class="ingredients__image">
                    <div class="ingredients__text"><h3><b>PROBIOTIC BLEND</b>.</h3> Our <b>proprietary probiotic</b> is plant-based and contains unparalleled power, 5diverse strains, 30BN CFU of strength guaranteed. <a href="/pages/ingredients"><!--<span class="inverse--color">+</span>--></a></div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
