<div class="grid-uniform">
  <div class="grid__item large--whole about-page">
    <div class="grid-uniform">
      <div class="grid__item medium--one-whole large--three-quarters push--large--one-eighth">

        {% if section.settings.video_embed != empty %}

          <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="{{ section.settings.video_embed }}"
          frameborder="0"></iframe>

        {% endif %}

      </div>
    </div>
    <div class="grid pt-4">
      <div class="grid__item medium--two-thirds push--medium--one-third large--two-thirds push--large--one-third">
        <h1>{{ section.settings.heading }}</h1>
      </div>
    </div>
    <div class="grid pt-4">

      <div class="grid__item medium--one-third large--one-third">
          <img src="{{ section.settings.about_image | img_url: 'large' }}" alt="" />
      </div>

      <div class="grid__item medium--two-thirds large--two-thirds">
        {{ page.content }}
      </div>
    </div>


  </div>
</div>

{% schema %}
  {
    "name": "About Content",
    "settings": [
      {
        "type": "text",
        "id": "video_embed",
        "label": "Video Embed",
        "info": "either the video link or a banner image, one or the other"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "about_image",
        "label": "About Image",
        "info": "either the video link or a banner image, one or the other"
      },
      {
        "type": "text",
        "id": "about_heading",
        "label": "About Heading"
      }
    ]
  }
{% endschema %}
