{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'featured-content-with-image-ingredients' %}
<div class="wrapper">
{% section 'ingredients-content-top' %}

{% section 'ingredients-content-bottom' %}
</div>