<div class="col-lg-8 px-3">

  <div class="text" data-transition="entrance" style="transform : translateY( 50px )">

    <div class="text-center">

      <div class="mb-5">

        {{ block.settings.text }}

      </div>

    </div>

  </div>

</div>
