<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<div class="wrapper">
    {% section 'product-template' %}
</div>

  <!-- sections/basic-info.liquid -->
  {% section 'basic-info' %}

  <!-- sections/seal-text.liquid -->
  {% section 'featured-video' %}

  <!-- sections/ingredients-alt.liquid -->
  {% section 'basic-info-product' %}

  <div class="wrapper">
      <div id="stamped-main-widget" class="custom-reviews-widget" data-widget-style="standard"></div>
  </div>
