{% capture captured_page %}
<div class="page-width page--{{ page.title | downcase }}">
  <header class="section-header">
    <h1 class="section-header__title h2">{{ page.title }}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--one-whole">
      <div class="rte">
          {% section 'ingredients-section-01' %}
          {% section 'ingredients-section-02' %}
      </div>
    </div>
  </div>
</div>

{% endcapture %}
{% include 'password-protect' %}