<section class="grid article__title--section">

    <div class="grid__item medium-up--one-half">

        <h1 class="article__title h4">{{ article.title }}</h1>

    </div>

    <div class="grid__item medium-up--one-half article__meta">

        {% if section.settings.show_date %}
        <span class="article__date text-small--uppercase">
            {{ article.published_at | time_tag: format: 'date' }}
        </span>
        {% endif %}
        {% if section.settings.show_author %}
        <span class="article__author text-small--uppercase">
            {{ article.author }}
        </span>
        {% endif %}

        {% include 'bookmarks-tags' %}

    </div>

</section>
