<div class="grid">

  <div class="grid__item text-center">

    {{ section.settings.contact_bottom_content }}

  </div>

</div>


{% schema %}
  {
    "name": "Contact",
    "settings": [
      {
        "type": "richtext",
        "id": "contact_bottom_content",
        "label": "Contact Bottom Content",
        "default": "<p>botto m content goes here</p>"
      }
    ]
  }
{% endschema %}
