{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<header class="banner">

{% section 'featured-content-with-image-ingredients' %}

</header>

<div class="wrapper">
{% section 'ingredients-content-top' %}

{% section 'ingredients-content-bottom' %}
</div>
