<div data-section-id="{{ section.id }}" data-section-type="faq-product-content" class="faq-product-content">

      <div class="grid">
        <div class="grid__item large--one-whole">
          <div class="rte rte--nomargin rte--indented-images rte--content-faq">

            <header class="text-center pt-2">
                <h1>{{ section.settings.title }}</h1>
            </header>

            <div class="grid-uniform pt-3">
              <div class="grid__item small--one-half medium--one-half large--one-quarter push--large--one-quarter faq-img text-center">
                <a href="">
                  <img src="{{ section.settings.product_image | img_url: 'master' }}" alt="" />
                </a>
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-quarter large--one-quarter push--large--one-quarter faq-img text-center">
                <a href="/pages/faqs-brand">
                  <img src="{{ section.settings.brand_image | img_url: 'master' }}" alt="" />
                </a>
              </div>
            </div>

            <ul class="questions-list">
              <li style="text-align: left;" class="q-active"><span>Who was Nouri created for?</span><br />
              <div class="q-ans q-ans-active">Nouri was created for men and women around the world who believe in increasing their mental and physical health. We care about our consumers and created Nouri to help them at every stage. Increasing life is a journey and Nouri will be your partner along the way.</div>
              </li>
              <li style="text-align: left;"><span>What are probiotics?</span><br />
              <div class="q-ans">Probiotics are living microorganisms which, when administered in adequate amounts, create health benefits in the host. That’s a fancy way of saying probiotics are good bacteria you can add to your daily routine to provide your brain and body with many benefits.*</div>
              </li>
              <li style="text-align: left;"><span>How is Nouri different from other probiotics?</span><br />
              <div class="q-ans">Nouri's proprietary blend is the first in the world to encapsulate and ensure the delivery of five diverse strains of probiotics in Ahiflower® oil, a plant-based oil rich in omega - 3,6,9 designed to protect your body and brain.</div>
              </li>
              <li style="text-align: left;"><span>What types of probiotics and omega oils are in each capsule?</span><br />
              <div class="q-ans">Each Nouri capsule contains five diverse strains of bacteria: Bifidobacterium longum, Bifidobacterium lactis, Lactobacillus acidophilus, Lactobacillus plantarum, and Lactobacillus brevis. These five strains are floating in, and protected by Ahiflower®oil, the best omega value from a single, sustainable, and traceable plant source.</div>
              </li>
              <li style="text-align: left;"><span>Is this product allergen-free?</span><br />
              <div class="q-ans">Yes! Nouri is free of gluten, grain, dairy, GMOs, soy, preservatives, and additives.</div>
              </li>
              <li style="text-align: left;"><span>What is Ahiflower® oil and how is it different from other omega oils?</span><br />
              <div class="q-ans">Ahiflower® oil is a plant-based omega powerhouse with the nutritional punch of evening primrose, flaxseed, and fish oils. Unlike other omega oils, Ahiflower® contains GLA, an omega 6 associated with skin health, hormonal balance, and reducing inflammation. Ahiflower® is your best omega value from a single, sustainable and traceable source.</div>
              </li>
              <li style="text-align: left;"><span>How often should I take probiotics?</span><br />
              <div class="q-ans">For best results, Nouri recommends taking a probiotic daily and consistently during all stages of life.</div>
              </li>
              <li style="text-align: left;"><span>When is the best time to take probiotics and omega oils?</span><br />
              <div class="q-ans">The best time of day to take Nouri is in the morning. Remember, probiotics are living organisms that need food, water, and warmth to thrive. So, taking Nouri with breakfast or 30 minutes beforehand is recommended. Also, studies show your willpower is at its peak in the morning, making it the best time of day to form healthy habits.</div>
              </li>
              <li style="text-align: left;"><span>Do Nouri probiotics require refrigeration?</span><br />
              <div class="q-ans">No. We partnered with the world's best team to ensure that Nouri's probiotics are developed, tested, and manufactured for stability over 24 months. Our Ahiflower® omega oil protects the living bacteria until it reaches the heat and movement of your stomach, where probiotics are the most effective in helping the rest of your body. It is important you store your Nouri probiotics away from heat, humidity, and in a cool place (under 77ºF is recommended).</div>
              </li>
              <li style="text-align: left;"><span>How can I track my order?</span><br />
              <div class="q-ans">In your order confirmation email you will receive a tracking number. You can track your order by clicking on the unique tracking code link. And as always, you can reach out 24/7 to hello@dailynouri.com to connect with the Nouri team. </div>
              </li>
              <li style="text-align: left;"><span>Is this product FDA approved?</span><br />
              <div class="q-ans">By law, the FDA does not approve any dietary supplements. However, the FDA does regulate dietary ingredients and supplements. All of Nouri's facilities follow Good Manufacturing Practices (GMPs) to ensure that Nouri's ingredients are tested and free from any yucky additives, heavy metals, microbes, or unwanted contamination.</div>
              </li>
              <li style="text-align: left;"><span>Is Nouri vegan-friendly?</span><br />
              <div class="q-ans">Yes! In addition to being allergen-free, Nouri is also a vegan product.</div>
              </li>
              <li style="text-align: left;"><span>Where is this product manufactured?</span><br />
              <div class="q-ans">We are proud that Nouri HQ is located in Los Angeles, California, and Nouri manufactures all of its products in the United States.</div>
              </li>
              <li style="text-align: left;"><span>How and where should I store this product?</span><br />
              <div class="q-ans">For best results, store Nouri at room temperature and away from direct sunlight.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="grid__item large--one-whole">
          <div class="rte rte--nomargin rte--bottom-faq">
            <p>Didn't find the answers you were looking for?</p>
            <a href="mailto:hello@dailynouri.com" class="btn">contact us</a>
          </div>
        </div>
      </div>

</div>



{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page Title"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "image_picker",
        "id": "brand_image",
        "label": "Brand Image"
      }
    ],
    "name": "FAQs",
    "blocks" : [
      {
        "type": "text",
        "name": "FAQ's",
        "settings": [
          {
            "type": "textarea",
            "id": "question",
            "label": "Question",
            "default": "You have a question?"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer",
            "default": "Here's our answer!"
          }
        ]
      }
    ]
  }
{% endschema %}
