<div data-section-id="{{ section.id }}" data-section-type="faq-brand-content" class="faq-brand-content">

      <div class="grid">
        <div class="grid__item large--one-whole">
          <div class="rte rte--nomargin rte--indented-images rte--content-faq">

              <header class="text-center pt-2">
                <h1>{{ section.settings.title }}</h1>
              </header>

            <div class="grid-uniform pt-3">
              <div class="grid__item small--one-half medium--one-half large--one-quarter push--large--one-quarter faq-img text-center">
                <a href="/pages/faqs-product">
                  <img src="{{ section.settings.product_image | img_url: 'master' }}" alt="" />
                </a>
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-quarter large--one-quarter push--large--one-quarter faq-img text-center">
                <a href="">
                  <img src="{{ section.settings.brand_image | img_url: 'master' }}" alt="" />
                </a>
              </div>
            </div>

            <ul class="questions-list">
              <li style="text-align: left;" class="q-active"><span>What does “Nouri” mean?</span><br />
              <div class="q-ans q-ans-active">Nouri is a word that means “light.” Our belief is there is no darkness light cannot overcome. To achieve Nouri’s mission of increasing life, we must begin by developing a sense of lightness by nourishing and protecting the mind and body.</div>
              </li>
              <li style="text-align: left;"><span>Who founded Nouri?</span><br />
              <div class="q-ans">Nouri was founded in 2018 by American entrepreneur Caroline Beckman.</div>
              </li>
              <li style="text-align: left;">
                <span>What's next for Nouri?</span>
                <br />
              <div class="q-ans">Great question! One thing to know about Nouri is that we are obsessed with our consumers and invested in research and development (R+D). We are continually exploring ways to increase life. What our consumers can expect is a primary commitment to the cornerstone of life (probiotics) followed by a focus on increasing specific brain and mental health challenges such as focus, energy, anxiety, and mood.</div>
              </li>
              <li style="text-align: left;">
                <span>What is your return policy?</span>
                <br />
              <div class="q-ans">We are bummed that you are unhappy with your probiotics and are going to refund you your first month in full.</div>
              </li>
              <li style="text-align: left;">
                <span>How can I cancel my subscription?</span>
                <br />
              <div class="q-ans">Need to stop your subscription? Head over to your account page and click “Manage Account”. From there, you will see a link at the bottom of your page to cancel. Any questions? Let us know at hello@dailynouri.com. </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="grid__item large--one-whole">
          <div class="rte rte--nomargin rte--bottom-faq">
            <p>Didn't find the answers you were looking for?</p>
            <a href="mailto:hello@dailynouri.com" class="btn">contact us</a>
          </div>
        </div>
      </div>

</div>


<style type="text/css">
  .rte--bottom-faq {
    text-align: center;
    padding: 70px 0 0 0;
  }
  .rte--bottom-faq > p {
    color: #ee4523;
    font-size: 14px;
  }
  .rte--bottom-faq a.btn {
    background: transparent;
    color: #ee4523;
    border: 2px solid #ee4523;
    padding: 15px 45px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 75px;
    font-weight: 600;
  }
  .rte--bottom-faq a.btn:hover, .rte--bottom-faq a.btn:active {
    background: #ee4523;
    color: #fff;
  }
  img.faq--cat-img {
    display: block !important;
    margin: 10px auto !important;
    cursor: pointer;
    max-width: 100% !important;
  }
  a.faq--cat-title {
    cursor: pointer;
  }
  .rte--content-faq .inner-title {
    font-size: 18px;
  }
  .rte--content-faq ul.questions-list {
    max-width: 80%;
    margin: 0 auto;
    list-style: none;
    position: relative;
  }
  .rte--content-faq ul.questions-list li {
    line-height: 26px;
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 15px;
    cursor: pointer;
    max-width: 40%;
    display: block;
    color: #9a9a9a;
    max-height: 80px;
    transition:max-height 1s ease;
  }
  .rte--content-faq ul.questions-list li.q-active {
    max-height: 600px;
    transition:max-height 1s ease;
  }
  .rte--content-faq ul.questions-list li .q-ans {
    position: absolute;
    left: 49%;
    top: 0;
    display: none;
    background: #fff;
    padding: 0 10px;
    z-index: 1;
    width: 50%;
    transform:scaleY(0);
    transition:transform 1s ease-in;
    transform-origin:top;
  }
  .rte--content-faq ul.questions-list li .q-ans.q-ans-active {
    display: block;
    transform:scaleY(1);
    transition:transform 1s ease-out;
    transform-origin:top;
  }
  .rte--content-faq ul.questions-list li.q-active span {
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 5px;
  }
  .rte--content-faq ul.questions-list li span {
    color: #000;
}
  @media all and (max-width: 767px) {
    .rte--bottom-faq {
      padding: 20px 0 0 0;
    }
    .rte--content-faq ul.questions-list {
      max-width: 100%;
      padding: 0;
    }
    .rte--content-faq ul.questions-list li {
      background: #f5f5f5;
      padding: 10px;
      border-radius: 5px;
      max-width: 100%;
    }
    .rte--content-faq ul.questions-list li .q-ans {
      position: relative;
      left: 0;
      top: 0;
      background: transparent;
      padding: 10px 0;
      z-index: 1;
      width: 100%;
    }
  }
</style>



{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page Title"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "image_picker",
        "id": "brand_image",
        "label": "Brand Image"
      }
    ],
    "name": "FAQs",
    "blocks" : [
      {
        "type": "text",
        "name": "FAQ's",
        "settings": [
          {
            "type": "textarea",
            "id": "question",
            "label": "Question",
            "default": "You have a question?"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer",
            "default": "Here's our answer!"
          }
        ]
      }
    ]
  }
{% endschema %}
